<h1>Selamat Datang di {{ name_project}}</h1>

<h5>Nama: {{ name }}</h5>
<p>Kelas: {{ class }}</p>
<p>NPM: {{ npm }}</p>

<hr>

<h2>Daftar Produk</h2>
<div>
    {% for product in products %}
        <div class="product-card">
            <img src="{{ product.thumbnail }}" alt="{{ product.name }}">
            <h4>{{ product.name }}</h4>
            <p><strong>Kategori:</strong> {{ product.category }}</p>
            <p><strong>Harga:</strong> Rp {{ product.price }}</p>
            <p>{{ product.description }}</p>
            {% if product.is_featured %}
                <p>Produk Unggulan!</p>
            {% endif %}
            <hr> 
        </div>
    {% empty %}
        <p>Belum ada produk untuk ditampilkan.</p>
    {% endfor %}
</div>