{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Rich Shop - Katalog Produk</title>
{% endblock meta %}

{% block content %}
<main class="container">
    
    <header class="page-header">
        <div class="header-info">
            <h1>{{ name_project }}</h1>
            <div class="user-details">
                <h5>NPM: </h5>
                <p>{{ npm }}</p>

                <h5>Name:</h5>
                <p>{{ name }}</p>

                <h5>Class:</h5>
                <p>{{ class }}</p>
                </div>
        </div>
        <div class="header-action">
            <a href="{% url 'main:create_product' %}"><button class="button">+ Tambah Produk</button></a>
        </div>

        <a href="{% url 'main:logout' %}">
            <button>Logout</button>
          </a>
          <h5>Sesi terakhir login: {{ last_login }}</h5>
        <hr>
        <a href="?filter=all">
            <button type="button">All Product</button>
        </a>
        <a href="?filter=my">
            <button type="button">My Product</button>
        </a> 
    </header>

    <section class="product-grid">
        {% for product in product_list %}
        <article class="product-card">
            
            <a href="{% url 'main:show_product' product.id %}">
                <img src="{{ product.thumbnail }}" alt="Thumbnail untuk {{ product.name }}">
                <h3>{{ product.name }}</h3>
            </a>
            
            <p><b>Harga:</b> Rp {{ product.price }}</p>
            <p><b>Rating:</b> ⭐ {{ product.rating|floatformat:1 }} ({{ product.rating_count }} ulasan)</p>

            <p>
                {% if product.is_in_stock %}
                    <span class="stock-status-in">Tersedia</span>
                {% else %}
                    <span class="stock-status-out">Stok Habis</span>
                {% endif %}
            </p>

        </article>
        {% empty %}
            <p>Belum ada produk untuk ditampilkan.</p>
        {% endfor %}
    </section>

</main>
{% endblock content %}